@{
	Layout = null;
}
@if (Request.IsAuthenticated)
{
	<div class="btn-group pull-right">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			<i class="icon-user"></i> @User.Identity.Name
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			@if(((UserPrincipal)User).IsAdmin)
			{
				<li><a href="@Url.Admin().Home().Index()">Admin</a></li>
				<li class="divider"></li>
			}
			<li><a href="@Url.Account().Logout()">Sign Out</a></li>
		</ul>
	</div>
}
else
{
	<ul class="nav pull-right">
		<li><a href="@Url.Account().Register()">Register</a></li>
		<li><a href="@Url.Account().Login()">Login</a></li>
	</ul>
}