@model Login

@{
	Bundles.Reference("~/Content/js/_lib/jquery.validate");
}
@section Title {
	Login
}

<h2>Login</h2>
<div class="well form-horizontal">
	@Html.DecodedValidationSummary(false)
	
	@using(Html.BeginForm())
	{
		<fieldset>
			@Html.HiddenFor(x => x.ReturnUrl)
			<div class="control-group">
				@Html.LabelFor(x => x.Username)
				@Html.TextBoxWithMaxLengthFor(x => x.Username, new {tabindex = 1})
				@Html.ValidationMessageFor(x => x.Username)
			</div>
			<div class="control-group">
				@Html.LabelFor(x => x.Password)
				@Html.PasswordWithMaxLengthFor(x => x.Password, new {tabindex = 1})
				@Html.ValidationMessageFor(x => x.Password)
			</div>
			<div class="control-group">
				<a href="@Url.Account().ForgotPassword()">Forgot Your Password?</a>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</fieldset>
	}
</div>