@model ResetPassword

@{
	Bundles.Reference("~/Content/js/_lib/jquery.validate");
}
@section Title {
	Reset Your Password
}

<h2>Reset Your Password</h2>

<div class="well form-horizontal">
	<p>Use the form below to set a new password for your account.</p>
	@Html.ValidationSummary(false)
	
	@using(Html.BeginForm())
	{
		<fieldset>
			<div class="control-group">
				@Html.LabelFor(x => x.Password)
				@Html.PasswordWithMaxLengthFor(x => x.Password)
				@Html.ValidationMessageFor(x => x.Password)
			</div>
			<div class="control-group">
				@Html.LabelFor(x => x.PasswordConfirm)
				@Html.PasswordWithMaxLengthFor(x => x.PasswordConfirm)
				@Html.ValidationMessageFor(x => x.PasswordConfirm)
			</div>
			<button type="submit" class="btn btn-primary">Send</button>
		</fieldset>
	}
</div>